/* .bg-login{
	background-image: url(../../images/bg1.jpg);
}
.triangle-left {
			width: 0;
			height: 0;
			border-top: 50px solid transparent;
			border-right: 100px solid #a9b2ba;
			border-bottom: 50px solid transparent;
			position: absolute;
			right: 0;
			top: 30%;
		}
		.main{
			margin-bottom: 70px;
			border: 2px solid;
			border-radius: 20px;
			padding: 0px;
			margin-right: 0px;
			padding-left: 0px;
			border-radius: 20px;
			margin-top: 15%;

		}

		.left-side{
			position: relative;
			padding: 0px;
			

		}
		.login{
			height: 300px; 
			background-color: #203957d1;  
			color: #88bdef;
			border-radius: 17px 0px 0px 0px;


		}
		.login h3{
			position: absolute; 
			top: 35%; 
			left: 30%; 
			border-left: 7px solid #88bdef;
			padding-left: 10px; 
			font-size: 50px;
			font-weight: bold;
		}
		.sign-up{
			height: 285px; 
			background-color: #88bdef96; 
			text-align: center; 
			padding-top: 80px; 
			color: #203957;
			border-radius: 0px 0px 0px 17px;
		}
		.sign-up h3{
			position: absolute; 
			top: 35%; 
			left: 30%; 
			border-left: 7px solid #203957; 
			padding-left: 10px; 
			font-size: 50px;
			font-weight: bold;
		}
		.right-side{
			padding-left: 80px; 
			padding-right: 80px; 
			padding-top: 15px;
			background-color: #cacfd2c9;
			border-radius: 0px 17px 17px 0px;

		}
		.right-side .user span{
			color: #7b7b7b;
			font-weight: 500;

		}
		.right-side .user a{
			text-decoration: none;
			color: #203957;
			font-weight: bold;

		}
		.right-side .user a:hover{
			text-decoration: none;
			color: #88bdef;
			font-weight: bold;

		}

		.right-side .btSnubmit{
			height: 50px;
			width: 180px;
			background-color: #203957;
			color: #88bdef;
			border: 1px solid #cacfd2;
			border-radius: 25px;
			font-size: 30px;
			text-align: center;
			font-weight: 700;


		}
		.right-side .btSnubmit:hover{
			
			background-color: #88bdef;
			color: #203957;
			


		}
		.right-side .btSnubmit:focus{
			
			outline: none;
			


		}
		.right-side input[type=text] {
			border: none;
			border-bottom: 2px solid #000; 
			background-color: transparent; 

		}
	 input:focus {
			box-shadow: none !important;

		}
		.right-side input[type=password] {
			border: none;
			border-bottom: 2px solid #000; 
			color: #000;
			background-color: transparent; 

		}
		
		.right-side .btnForgetPwd a {
			text-decoration: none;
			color: #7b7b7b;
			font-weight: bold;

		}
		.right-side .btnForgetPwd a:hover {
			text-decoration: none;
			color: #203957;
			font-weight: bold;

		}
		.right-side .btnForgetPwd span {
			text-decoration: none;
			color: #7b7b7b;
			font-weight: bold;

		}
		.right-side h1 {
			
			text-align: center;
			font-weight: 2550;
			font-size: 65px;
			color: #203957
		}

		.right-side h4 {
			text-align: center;
			font-size: 35px;
			margin-bottom: 30px;
		}
		.form-group label{

			color: #7b7b7b;

		}
		.form-group label:hover{

			color: #203957;
		}
		.left-side1{
			display: none;
		}

	
		.check {
			display: block;
			position: relative;
			padding-left: 25px;
			margin-bottom: 12px;
			padding-right: 15px;
			cursor: pointer;
			font-weight: bold;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
		}

	
		.check input {
			position: absolute;
			opacity: 0;
			cursor: pointer;
		}

	
		.checkmark {
			position: absolute;
			top: 3px;
			left: 0;
			height: 18px;
			width: 18px;
			background-color: transparent; ;
			border-color:#7b7b7b;
			border-style:solid;
			border-width:2px;
		}



	
		.check input:checked ~ .checkmark {
			background-color: #fff  ;
		}

	
		.checkmark:after {
			content: "";
			position: absolute;
			display: none;
		}

	
		.check input:checked ~ .checkmark:after {
			display: block;
		}

		
		.check .checkmark:after {
			left: 5px;
			top: 1px;
			width: 5px;
			height: 10px;
			border: solid ;
			border-color:#7b7b7b;
			border-width: 0 3px 3px 0;
			-webkit-transform: rotate(45deg);
			-ms-transform: rotate(45deg);
			transform: rotate(45deg);
		}






		@media only screen and (max-width: 991px) {
			.left-side1{

			}
			.triangle-left {
				width: 0;
				height: 0;
				border-top: 35px solid transparent;
				border-right: 50px solid #a9b2ba;
				border-bottom: 30px solid transparent;
				position: absolute;
				right: 0;
				top: 35%;
			}
			.login h3{
				position: absolute; 
				top: 35%; 
				left: 20%; 
				border-left: 7px solid #88bdef;
				padding-left: 10px; 
				font-size: 50px;
				font-weight: bold;
			}
			.sign-up h3{
				position: absolute; 
				top: 35%; 
				left: 20%; 
				border-left: 7px solid #203957; 
				padding-left: 10px; 
				font-size: 50px;
				font-weight: bold;
			}


			.right-side{
				padding-left: 30px; 
				padding-right: 30px; 
				padding-top: 15px;
				background-color: #cacfd2c9;
				border-radius: 0px 17px 17px 0px;

			}
			.right-side .btnForgetPwd  {
				display: inline-block;

			}
			.right-side .btnForgetPwd span {
				text-decoration: none;
				color: #7b7b7b;
				font-weight: bold;


			}

		}
		@media only screen and (max-width: 767px) {

			.left-side{
				display: none;

			}
			.triangle-left1 {
				width: 0;
				height: 0;
				border-left: 45px solid transparent;
				border-right: 45px solid transparent;
				border-bottom: 72px solid #a9b2ba;
				left: 40% ! important;
				top: 133px ! important;
				margin-bottom: 0px;
				position: absolute;
			}
			.triangle-left {
				display: none;
			}


			.left-side1{
				position: relative;
				padding: 0px;


			}
			.left-side1{
				display: block;


			}
			.login1{
				height: 205px; 
				background-color: #203957d1;  
				color: #88bdef;
				border-radius: 17px 17px 0px 0px;


			}
			.login1 h3{
				position: absolute; 
				top: 35%; 
				left: 30%; 
				border-left: 7px solid #88bdef;
				padding-left: 10px; 
				font-size: 50px;
				font-weight: bold;
			}
			.sign-up1{
				height: 205px; 
				background-color: #88bdef96; 
				text-align: center; 
				padding-top: 80px; 
				color: #203957;
				border-radius: 0px 0px 0px 0px;
			}
			.sign-up1 h3{
				position: absolute; 
				top: 35%; 
				left: 30%; 
				border-left: 7px solid #203957; 
				padding-left: 10px; 
				font-size: 50px;
				font-weight: bold;
			}

			.form-group1 label{

				color: #7b7b7b;
			
			}
			.right-side{
				padding-left: 30px; 
				padding-right: 30px; 
				padding-top: 15px;
				background-color: #cacfd2c9;
				border-radius: 0px 0px 17px 17px;

			}
		} */
