/* body/ */
/* .add-project{
    float: right;
} */
#page-numbers {
  list-style: none;
  display: flex;
}

#page-numbers > li {
  margin-right: 0.3em;
  color: blue;
  user-select: none;
  cursor: pointer;
}

.pagination {
    display: inline-block;
    float: right;
    margin-top: -21px;
    margin-right: 92px;
   
  }
  
  .pagination a {
    color: black;
    float: left;
    padding: 2px 9px;
    text-decoration: none;
    background-color: dodgerblue;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    vertical-align: middle;
    margin-left: 22px;
    text-decoration: none;
  }
  .pagination a:hover {
  background-color:  rgb(39, 255, 239)
    
  }
  @media screen and (max-width: 700px) {
    .body-container {padding-left: 78px;}
  }
  @media screen and (min-width: 300px) {
    .body-container {padding-left: 50px;}
  }